.articles__container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.product__infos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20rem;
    background-color: white;
    border-radius: 2rem;
    margin: 2em 1em 0 1em;
    border: solid 2px lightgray;
    background-image: linear-gradient(whitesmoke, white);
   
}

.product__infos:hover{
    box-shadow: 10px 7px 10px white;
    transition: all 0.5s;
}

.image__tag--container{
    position: relative;
}

.product__image{
    width: 100%;
    height: auto;
    border-bottom: solid 2px lightgray;
    border-radius: 8em;

}

.product__image--container{
    overflow: hidden;
}

.product__image:hover{
    transform: scale(1.1);
    border-bottom: solid 2px white;
    transition: all 0.5s;
}

.tag__gentil{
    position:absolute;
    left: 2.5rem;
    top: 3rem;
    background-color: pink;
    padding: 0.7em;
    color: white;
    border-radius: 50%;
}

.product__name{
    font-size: 2rem;
    padding: 0.3em 0;
    color: black;
}

.company{
    @extend .product__name;
    font-size: 1rem;
}

.price{
    @extend .product__name;
    font-weight: bold;
    font-size: 1.5rem;
    color: rgb(68, 68, 68);
}

.rating{
    @extend .product__name;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 1em;
}

.addCart__link{
    text-decoration: none;
    width: 100%;
    text-align: center;
    border-top: solid 1px black;
    padding: 2em 0;
    .addCart{
        background-color: transparent;
        border: none;
        font-size: 1.3rem;
    }
}

.addCart__link:active{
    background-color: black;
    border-top: solid 1px white;
    border-bottom-left-radius: 1.8em;
    border-bottom-right-radius: 1.8em;
    .addCart{
        background-color: black;
        color: white;
        border: none;
    }
}
