.articles__container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.product__infos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20rem;
    background-color: white;
    border-radius: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
}

.image__tag--container{
    position: relative;
}

.product__image{
    width: 100%;
    height: auto;
    border-bottom: solid 1px black;
    border-radius: 8rem;

}

.tag__gentil{
    position:absolute;
    left: 1.5rem;
    top: 1.5rem;
    background-color: greenyellow;
    padding: 0.7rem;
    color: white;
    border-radius: 50%;
}

.product__name{
    font-size: 2rem;
    padding-bottom: 1rem;
}

.company{
    @extend .product__name;
    font-size: 1rem;
}

.price{
    @extend .product__name;
    font-weight: bold;
    font-size: 1.5rem;
}

.rating{
    @extend .product__name;
    font-weight: bold;
    font-size: 1.2rem;
}

.addCart__link{
    text-decoration: none;
    width: 100%;
    text-align: center;
    border-top: solid 1px black;
    padding: 2rem 0;
    .addCart{
        background-color: white;
        border: none;
    }
}
