.category__list{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 14.25em;
    min-height: 100vh;
    background-color: white;
    border-right: solid 1px whitesmoke;
    border-left: solid 1px whitesmoke;
    padding: 0 0.3em;
    background-image: linear-gradient(lightblue, lightpink);
}

.category__label{
    font-size: 2rem;
    color: white;
    border-bottom: solid 1px white;
    margin: 1em 0;
}

.category__icon{
    width: 1em;
    margin-right: 0.5em;
}

.badge__gentil--link-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2em 0;
    margin: 0.3em 0;
    border: solid 1px gray;
    width: 100%;
    background-image: linear-gradient(white, pink);
    color: black;
    border-radius: 5px;
    .category__title{
        margin-left: 1em;
        font-size: 1.5rem;
    }

    .quantity{
        margin-right: 1.7em;
        font-size: 1.2rem;
    }
}

.badge__gentil--link-container:active{
    background-image: linear-gradient(white,white);
}

.badge__méchant--link-container{
    @extend .badge__gentil--link-container;
    background-image: linear-gradient(white, rgb(177, 42, 42));

}

.badge__animal--link-container{
    @extend .badge__gentil--link-container;
    background-image: linear-gradient(white, lightblue);
}
