.notFound__container{
    background-image: url(./../images/404.svg);
    width: 100%;
    min-height: 100vh;
    background-position: center;
    background-size: contain;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.serverError__container{
    @extend .notFound__container;
    background-image: url(./../images/500.svg);
}

.forbidden__container{
    @extend .notFound__container;
    background-image: url(./../images/403.svg);
}