.footer{
    width: 100%;
    background-image: linear-gradient(white, lightgray);
    text-align: center;
    font-size: 1rem;
    padding: 1em;
    font-weight: bold;
    color: gray;
    position: relative;
    bottom: 0;
}