.header{
    display: flex;
    position: relative;
    height: 4em;
    width: 100%;
    top: 0;
    background-color: white;
}

.header__nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    border: solid 1px lightgray;
}

.header__nav--title{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-right: solid 1px lightgray;
    height: 100%;
    padding-right: 2em;
    padding-left: 2em;
}

.header__nav--links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.link{
    display: flex;
    align-items: center;
    font-size: 1rem;
    border-right: solid 1px lightgray;
    border-left: solid 1px lightgray;
    height: 100%;
    padding: 0 1em;
}

.link:active{
    background-color: lightgray;
    color: black;
}

.contact__link, .login__link{
    border: none;
}

.about__link{
    border: none;
}