.header{
    display: flex;
    position: relative;
    padding: 1.5rem 0;
    z-index: 2;
    width: 100%;
    top: 0;
    background-color: rgb(68, 0, 68);
}

.header__nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-left: 1rem;
    font-size: 2rem;

}

.header__nav--links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 2rem;
}

.about__link{
    margin: 0 1rem;
}