.form__container{
    min-height: 80vh;
    width: 60%;
    margin-top: 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: solid 2px black;
    border-radius: 10px;
}

.login__title{
    font-size: 3rem;
}

.errorLogin__container{
    margin-top: 3em;
    color: red;
}

input{
    font-size: 2rem;
    border-radius: 5px;
}

.email__container--login{
    display: flex;
    flex-direction: column;
    margin-top: 4em;
}

.password__container--login{
    margin-top: 1em;
    display: flex;
    flex-direction: column;
}

.login__submit--container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
}

.login__submit{
    width: 80%;
    padding: 0.5em 0;
    background-color: black;
    border: none;
    color: white;
    font-size: 2rem;
}

.accountless__container{
    margin-top: 4em;
}

.account__signin--link{
    color: blue;
    text-decoration: underline;
}