@import 'reset.scss';

/* project css  */

*{
    box-sizing: border-box;
    text-decoration: none;
}

a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

button{
    cursor: pointer;
}

body{
    background-image: linear-gradient(lightblue, lightpink);
    min-height: 100vh;
    font-family:'Asap', sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100%;
    align-items: center;
}

/* Header */

@import 'header.scss';

/* Main */
@import 'main.scss';

/* Category */

@import 'category.scss';

/* articles */
@import 'articles.scss';

/* item */

@import 'item.scss';

/* cart */
@import 'cart.scss';

/* login */
@import 'login.scss';

/* signin */ 
@import 'signin.scss';

@import 'errors.scss';

/*mediaqueries*/
@import 'mediaqueries.scss';