<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>O'Shop</title>
</head>

<body>
    <div class="container">
        <header class="header">
            <nav class="header__nav">
                <div class="header__nav--title">
                    <a href="#"> O'Shop </a>
                </div>

                <div class="header__nav--links">
                    <a class="cart__link link" href="#"> Cart </a>
                    <a class="about__link link" href="#"> About </a>
                    <a class="contact__link link" href="#"> Contact </a>
                </div>
            </nav>
        </header>