/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* project css  */
* {
  box-sizing: border-box;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

button {
  cursor: pointer;
}

body {
  background-image: linear-gradient(lightblue, lightpink);
  min-height: 100vh;
  font-family: "Asap", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100%;
  align-items: center;
}

/* Header */
.header {
  display: flex;
  position: relative;
  height: 4em;
  width: 100%;
  top: 0;
  background-color: white;
}

.header__nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  border: solid 1px lightgray;
}

.header__nav--title {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-right: solid 1px lightgray;
  height: 100%;
  padding-right: 2em;
  padding-left: 2em;
}

.header__nav--links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.link {
  display: flex;
  align-items: center;
  font-size: 1rem;
  border-right: solid 1px lightgray;
  border-left: solid 1px lightgray;
  height: 100%;
  padding: 0 1em;
}

.link:active {
  background-color: lightgray;
  color: black;
}

.contact__link {
  border-right: none;
}

.about__link {
  border: none;
}

/* Main */
.main__container {
  display: flex;
}

/* Category */
.category__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 14.25em;
  min-height: 100vh;
  background-color: white;
  border-right: solid 1px whitesmoke;
  border-left: solid 1px whitesmoke;
  padding: 0 0.3em;
  background-image: linear-gradient(lightblue, lightpink);
}

.category__label {
  font-size: 2rem;
  color: white;
  border-bottom: solid 1px white;
  margin: 1em 0;
}

.badge__gentil--container, .badge__animal--container, .badge__mechant--container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2em 0;
  margin: 0.2em 0;
  border: solid 1px gray;
  width: 100%;
  background-image: linear-gradient(white, pink);
  color: black;
  margin-top: 0.3em;
}
.badge__gentil--container .category__title, .badge__animal--container .category__title, .badge__mechant--container .category__title {
  margin-left: 1.5em;
  font-size: 1.5rem;
}
.badge__gentil--container .quantity, .badge__animal--container .quantity, .badge__mechant--container .quantity {
  margin-right: 1.7em;
  font-size: 1.2rem;
}

.badge__gentil--container:active, .badge__animal--container:active, .badge__mechant--container:active {
  background-image: linear-gradient(white, white);
}

.badge__mechant--container {
  background-image: linear-gradient(white, rgb(177, 42, 42));
}

.badge__animal--container {
  background-image: linear-gradient(white, lightblue);
}

/* articles */
.articles__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.product__infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20rem;
  background-color: white;
  border-radius: 2rem;
  margin: 2em 1em 0 1em;
  border: solid 2px lightgray;
  background-image: linear-gradient(whitesmoke, white);
}

.product__infos:hover {
  box-shadow: 10px 7px 10px white;
  transition: all 0.5s;
}

.image__tag--container {
  position: relative;
}

.product__image {
  width: 100%;
  height: auto;
  border-bottom: solid 2px lightgray;
  border-radius: 8em;
}

.product__image--container {
  overflow: hidden;
}

.product__image:hover {
  transform: scale(1.1);
  border-bottom: solid 2px white;
  transition: all 0.5s;
}

.tag__gentil {
  position: absolute;
  left: 2.5rem;
  top: 3rem;
  background-color: pink;
  padding: 0.7em;
  color: white;
  border-radius: 50%;
}

.product__name, .rating, .price, .company {
  font-size: 2rem;
  padding: 0.3em 0;
  color: black;
}

.company {
  font-size: 1rem;
}

.price {
  font-weight: bold;
  font-size: 1.5rem;
  color: rgb(68, 68, 68);
}

.rating {
  font-weight: bold;
  font-size: 1.2rem;
}

.addCart__link {
  text-decoration: none;
  width: 100%;
  text-align: center;
  border-top: solid 1px black;
  padding: 2em 0;
}
.addCart__link .addCart {
  background-color: transparent;
  border: none;
  font-size: 1.3rem;
}

.addCart__link:active {
  background-color: black;
  border-top: solid 1px white;
  border-bottom-left-radius: 1.8em;
  border-bottom-right-radius: 1.8em;
}
.addCart__link:active .addCart {
  background-color: black;
  color: white;
  border: none;
}

/* item */
.item__content {
  width: 80%;
}

.item__infos--container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  background-image: linear-gradient(0.75turn, rgb(206, 241, 253), rgb(245, 250, 252), white);
  border-radius: 15px;
  margin-top: 3.5em;
  width: 100%;
}

.item__image {
  border-radius: 15px;
  width: 100%;
}

.item__description--container {
  display: flex;
  flex-direction: column;
  width: 50%;
  min-height: 80vh;
}

.item__name {
  text-align: center;
  font-size: 4rem;
  margin-top: 1em;
  margin-bottom: 1em;
}

.item__text {
  text-align: justify;
  font-size: 2rem;
}

.item__rating {
  margin-top: 2em;
  font-size: 2rem;
  text-align: center;
}

.item__price {
  text-align: center;
  font-size: 2.5rem;
  margin: 1em 0;
}

.item__buttons--container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.button__add, .button__purchase {
  font-size: 2rem;
  background-color: rgb(139, 69, 19);
  color: white;
  border: none;
  padding: 1em;
}

.button__purchase {
  background-color: black;
}

.reviews__container {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-top: 1em;
  border-radius: 15px;
}

.reviews__label {
  text-align: center;
  font-size: 2rem;
  padding: 1em 0;
  border-bottom: solid 1px lightgray;
}

.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: solid 1px lightgray;
  padding-bottom: 1em;
}
.reviews .review__author {
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 1em;
}
.reviews .review__rating {
  font-size: 1.4rem;
  padding: 1em 0;
}
.reviews .review__description {
  font-size: 1.2rem;
}

/* cart */
.cart__title {
  font-size: 3rem;
  padding: 0.5em 0;
  color: white;
}

.item__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  background-image: linear-gradient(0.25turn, white, white, rgb(253, 244, 224));
  text-align: center;
  padding-right: 2em;
  border-radius: 15px;
  font-size: 1.4rem;
  border-top: solid 2px lightgray;
}

.cart__item--image {
  width: 20%;
  height: auto;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.remove__button {
  background-color: red;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 0.5em;
  border-radius: 5px;
}

.remove__button:active {
  background-color: black;
  color: white;
}

/* total cart */
.total__price--container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  min-height: 15em;
  margin-top: 2em;
  border: solid 1px lightgray;
  position: relative;
  background-image: linear-gradient(rgb(255, 255, 246), white);
}

.total__title {
  font-size: 2.5rem;
  position: absolute;
  top: 1.5em;
  left: 1.5em;
}

.cart__item--price {
  font-weight: bold;
}

.price__infos {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 1.5em;
}

.price__ht, .price__tax {
  font-size: 1.3rem;
}

.price__tax {
  padding: 0.4em 0;
}

.price__ttc {
  font-size: 2rem;
}

.checkout__button {
  background-color: gray;
  border: none;
  font-size: 2rem;
  font-weight: bold;
  padding: 0.7em 1em;
  margin-top: 0.3em;
  width: 100%;
  color: white;
}

.checkout__button:active {
  background-color: black;
}

/* login */
.form__container {
  min-height: 80vh;
  width: 60%;
  margin-top: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: solid 2px black;
  border-radius: 10px;
}

.login__title {
  font-size: 3rem;
}

input {
  font-size: 2rem;
  border-radius: 5px;
}

.email__container--login {
  display: flex;
  flex-direction: column;
  margin-top: 6em;
}

.password__container--login {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
}

.login__submit--container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
}

.login__submit {
  background-color: black;
  color: white;
  border: none;
  padding: 1em;
}

.accountless__container {
  margin-top: 4em;
}

.account__signin--link {
  color: blue;
  text-decoration: underline;
}

/* signin */
.signin__form--container {
  min-height: 80vh;
  width: 60%;
  margin-top: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: solid 2px black;
  border-radius: 10px;
}

.signin__title {
  font-size: 3rem;
  margin-bottom: 1em;
}

.firstname__container, .password__confirm--container, .password__container--submit, .email__container--submit, .lastname__container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.account__owner--container {
  margin-top: 2em;
}

.account__login--link {
  color: blue;
  text-decoration: underline;
}

/*mediaqueries*/
@media screen and (max-width: 600px) {
  html {
    font-size: 5px;
  }
}

/*# sourceMappingURL=style.css.map */
