<%-include("./partials/header")%>

<div class="container">
    <div class="content__container">
        <div class="cart__item--image">
            <img class="cart__item" src="/images/aerith.png" alt="Aerith">
        </div>

        <div class="cart__item--name">
            Aerith
        </div>

        <div class="cart__item--price">
            2500€
        </div>
    </div>


    <div class="price__container">
        <div class="price">
            Total : 25008€
        </div>

        <a href="">
            <button class="checkout__button"> Payer </button>
        </a>
    </div>

</div>

<%-include("./partials/footer")%>