    <div class="category__list">
        <h2 class="category__label"> Catégories : </h2>
        <div class="badge__gentil--container">
            <p class="gentil__title category__title"> Gentil </p>
            <span class="quantity"> 5 </span>
        </div>

        <div class="badge__mechant--container">
            <p class="mechant__title category__title"> Méchant </p>
            <span class="quantity"> 2 </span>
        </div>

        <div class="badge__animal--container">
            <p class="animal__title category__title"> Animal </p>
            <span class="quantity"> 1</span>
        </div>
    </div>