<%-include("./partials/header")%>


<!-- End header -->
<main class="main__container">
    <div class="category__list">
        <div class="badge__gentil--container">
            <p class="gentil__title"> Gentil </p>
            <span class="quantity"> 5 </span>
        </div>

        <div class="badge__mechant--container">
            <p class="mechant__title"> Méchant </p>
            <span class="quantity"> 2 </span>
        </div>

        <div class="badge__animal--container">
            <p class="animal__title"> Animal </p>
            <span class="quantity"> 1</span>
        </div>
    </div>


    <div class="articles__container">
        <article class="product__infos">
            <div class="image__tag--container">
                <img class="product__image" src="/images/aerith.png" alt="Aerith">
            <div class="tag__gentil">
                Gentil
            </div>
            </div>
            

            <div class="product__name"> Aerith </div>
            <div class="company"> Vendeur : O'Shop & Co </div>
            <div class="price"> Prix 2500€ </div>
            <div class="rating"> Note utilisateur : 2 / 5 </div>
            <a class="addCart__link" href="#"><button class="addCart"> Ajouter au panier </button></a>
        </article>

        <article class="product__infos">
            <div class="image__tag--container">
                <img class="product__image" src="/images/aerith.png" alt="Aerith">
            <div class="tag__gentil">
                Gentil
            </div>
            </div>
            

            <div class="product__name"> Aerith </div>
            <div class="company"> Vendeur : O'Shop & Co </div>
            <div class="price"> Prix 2500€ </div>
            <div class="rating"> Note utilisateur : 2 / 5 </div>
            <a class="addCart__link" href="#"><button class="addCart"> Ajouter au panier </button></a>
        </article>

        <article class="product__infos">
            <div class="image__tag--container">
                <img class="product__image" src="/images/aerith.png" alt="Aerith">
            <div class="tag__gentil">
                Gentil
            </div>
            </div>
            

            <div class="product__name"> Aerith </div>
            <div class="company"> Vendeur : O'Shop & Co </div>
            <div class="price"> Prix 2500€ </div>
            <div class="rating"> Note utilisateur : 2 / 5 </div>
            <a class="addCart__link" href="#"><button class="addCart"> Ajouter au panier </button></a>
        </article>

        <article class="product__infos">
            <div class="image__tag--container">
                <img class="product__image" src="/images/aerith.png" alt="Aerith">
            <div class="tag__gentil">
                Gentil
            </div>
            </div>
            

            <div class="product__name"> Aerith </div>
            <div class="company"> Vendeur : O'Shop & Co </div>
            <div class="price"> Prix 2500€ </div>
            <div class="rating"> Note utilisateur : 2 / 5 </div>
            <a class="addCart__link" href="#"><button class="addCart"> Ajouter au panier </button></a>
        </article>

        <article class="product__infos">
            <div class="image__tag--container">
                <img class="product__image" src="/images/aerith.png" alt="Aerith">
            <div class="tag__gentil">
                Gentil
            </div>
            </div>
            

            <div class="product__name"> Aerith </div>
            <div class="company"> Vendeur : O'Shop & Co </div>
            <div class="price"> Prix 2500€ </div>
            <div class="rating"> Note utilisateur : 2 / 5 </div>
            <a class="addCart__link" href="#"><button class="addCart"> Ajouter au panier </button></a>
        </article>
    </div>

    


</main>
        


<%-include("./partials/footer")%>