<%-include("./partials/header")%>

<main class="item__content">

    <div class="item__infos--container">

        <div class="item__image--container">
            <img class="item__image" src="/images/aerith.png" alt="Aerith">
        </div>

        <div class="item__description--container">

            <h2 class="item__name">
                Aerith
            </h2>

            <p class="item__text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, cum.</p>
            
            <div class="item__rating">
                Moyenne : start star star 
            </div>

            <div class="item__price">
                2500€
            </div>

            <div class="item__buttons--container">
                <a href=""> <button class="button__add"> Ajouter au panier </button> </a>
                <a href=""> <button class="button__purchase"> Acheter </button></a>
            </div>

        </div>
    </div>

    <div class="reviews__container">
        <h2 class="reviews__label"> Avis des utilisateurs </h2>
        <div class="reviews">
            <p class="review__author"> Auteur </p>
            <p class="review__rating"> Note : star star </p>
            <p class="review__description"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae aliquam atque praesentium commodi qui beatae? </p>
        </div>

        <div class="reviews">
            <p class="review__author"> Auteur </p>
            <p class="review__rating"> Note : star star </p>
            <p class="review__description"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae aliquam atque praesentium commodi qui beatae? </p>
        </div>

        <div class="reviews">
            <p class="review__author"> Auteur </p>
            <p class="review__rating"> Note : star star </p>
            <p class="review__description"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae aliquam atque praesentium commodi qui beatae? </p>
        </div>

    </div>
</main>


<%-include("./partials/footer")%>