<%-include("./partials/header")%>

<main class="item__content">

    <div class="item__infos--container">

        <div class="item__image--container">
            <img class="item__image" src="/images/aerith.png" alt="Aerith">
        </div>

        <div class="item__description--container">

            <h2 class="item__name">
                Aerith
            </h2>

            <p class="item__description"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, cum.</p>
            
            <div class="item__rating">
                start star star 
            </div>

            <div class="item__price">
                2500€
            </div>

            <div class="item__buttons--container">
                <a href=""> <button class="button__add"> Ajouter au panier </button> </a>
                <a href=""> <button class="button__purchase"> Acheter </button></a>
            </div>

        </div>
    </div>
    
    <div class="reviews__container">
        <div class="reviews">
            <p> Auteur </p>
            <p> Note </p>
            <p> Description de l'avis </p>
        </div>

    </div>
</main>


<%-include("./partials/footer")%>